DB_USER=postgres
DB_HOST=localhost
DB_NAME=inventory-system
DB_PASSWORD=password
DB_PORT=5432

SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASSWORD=your_resend_api_key
SMTP_FROM=onboarding@resend.dev

REDIS_URL=redis://localhost:6379
SESSION_TTL=86400
COOKIE_SECURE=false

OWNER_ID=9
CUSTOMER_ID=8
